*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;    
}

main{
    margin-bottom: 20px;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(20, 20, 66);
    padding: 16px 0;
}

header div.container h1{
    color: #fff;
}

header div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}


.menu li{
    margin-left: 16px;
    list-style: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.nossas-reservas a{
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    position: absolute;
    background-color: rgba(20, 20, 66, 0.952);
    border-top: 4px solid #fff;
    width: 150px;
}

.submenu li{
    padding: 10px 0;
}

.submenu li a{
    color: #fff;
    text-decoration: none;
}

.submenu li a:hover{
    text-decoration: underline;
}

/*Estilo a partir do main*/

.sobre-a-loja{
    display: flex;
    margin-top: 56px;
}

h2{
    margin-bottom: 20px;
    color: rgb(20, 20, 66);
    border-bottom: 2px solid rgb(20, 20, 66);
    font-style: italic;
    padding-bottom: 5px;
}

.sobre-texto{
    margin-left: 40px;
}

/*Estilo da sessão dos produtos*/

#reservas{
    margin-top: 56px;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    margin-bottom: 20px;
}

h3{
    font-size: 1.2em;
    color: rgb(20, 20, 66);
    padding-bottom: 5px;
}

button{
    background-color: rgb(20, 20, 66);
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    
}

@media  screen and (max-width: 640px) {
    header div.container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header div.container h1{
        color: #fff;
        margin-bottom: 5px;
    }

    .submenu{
        display: none;
        border-top: none;
    }

    .submenu li{
        display: none;
    }

    .container .sobre-a-loja{
        display: block;
        width: 80%;
        margin: 56px auto 0;
    }

    .sobre-a-loja img{
        width: 100%;
        margin-bottom: 20px;
    }

    .sobre-texto{
        margin-left: 0px;
    }

    #produtos{
        display: block;
    }

    .container > h2, #produtos{
        width: 80%;
        margin: 0 auto;
    }

    .reservas{
        margin-top: 20px;
    }

    .reservas img{
        width: 100%;
    }

}

@media screen and (max-width:1023px) {

}

/*
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
        column-gap: 1%;
        margin-bottom: 20px;
*/






