body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.font-title{
    font-family: 'Cinzel', serif;
}

header{
    background-color: #ccc;
}

#header .nav .na-link.active{
    background-color: #fff;
    color: #000;
}

.nav .nav-item:hover{
    background-color: #fff;
}

.nav .nav-item .nav-link:hover{
    font-weight: bold;
}

#header .nav .nav-item .nav-link{
    color: #000;
}

.color{
    background-color: #ccc;
}

.cor-do-fundo{
    background-color: #efefef;
}

.button:hover{
    background-color: #ccc;
}